/*---------
Reset
---------*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}

/*---------
Generals
---------*/

main {
  width: 100%;
  height: calc(100vh - 12rem);
  background-color: black;
}

footer {
  height: 12rem;
}

.my-row {
  display: flex;
  flex-wrap: wrap;
}

.col-1-7 {
  width: calc(100% / 7);
}

main img {
  width: 100%;
}

/*-----------
main
-----------*/
main .container {
  max-width: 120rem;
  margin-inline: auto;
  height: 100%;
  position: relative;
  color: #fff;
  padding-top: 6rem;
}

.top-element {
  position: absolute;
  top: 1rem;
  right: 0;
  color: #fff;
  cursor: pointer;
  z-index: 10;
}

.top-element span {
  background-color: #4a4a4a;
  padding: 0.5rem;
  border-radius: 0.5rem;
  line-height: 2rem;
  vertical-align: middle;
  margin-left: 0.5rem;
  font-size: 1.4rem;
  text-transform: capitalize;
}

.top-element span:nth-child(1) i {
  font-size: 1.6rem;
  vertical-align: middle;
  display: inline-block;
  margin-right: 0.3rem;
}

/*-----------
Cams Section
------------*/
main .container .my-row {
  margin-top: -1.5rem;
  margin-inline: -0.5rem;
}

main .container .col-1-7 {
  width: calc((100% / 7) - 1rem);
}

.card {
  margin: 1rem 0.5rem;
}
.cam-container {
  background-image: url("https://picsum.photos/200/300");
  background-position: center;
  background-size: cover;
  height: calc((100vh - (26rem + 2rem)) / 5);
  position: relative;
}

.cam-container .cam-name {
  position: absolute;
  bottom: 0;
  left: 0;
  text-transform: capitalize;
  font-size: 1.2rem;
  padding: 0.3rem;
  background-color: rgba(0, 0, 0, 0.5);
}

/*-------debug--------*/

/* .debug main .container {
  border: 1px solid red;
} */

/* .debug main .my-row {
  border: 1px solid blue;
} */

/* .debug main .my-row > * {
  background-color: aqua;
} */
